<header class="mt-4">
  <div class="container">
      <nav class="row">
          <div class="col">
              <a class="navbar-brand" href="#">
                  <img src="img/brand.png" alt="" />
              </a>
          </div>
          <div class="col">
              <ul
                  class="navbar-nav d-flex flex-row justify-content-center"
              >
                  <li class="nav-item">
                      <a
                          class="nav-link"
                          aria-current="page"
                          href="#"
                          >men</a
                      >
                  </li>
                  <li class="nav-item">
                      <a
                          class="nav-link"
                          aria-current="page"
                          href="#"
                          >women</a
                      >
                  </li>
                  <li class="nav-item">
                      <a
                          class="nav-link"
                          aria-current="page"
                          href="#"
                          >kids</a
                      >
                  </li>
              </ul>
          </div>
          <div class="col d-flex justify-content-end">
              <button class="text-white px-3 mx-3">
                  <i class="fa-solid fa-magnifying-glass"></i>
              </button>
              <button class="text-white px-3 mx-3">
                  <i class="fa-solid fa-cart-shopping"></i>
              </button>
              <button class="text-white px-3 mx-3">
                  <i class="fa-regular fa-user"></i>
              </button>
          </div>
      </nav>
  </div>
</header>