<div class="card product border-0 ">
    <div class="card-img-top position-relative">
        <a
            class="cart-btn d-inline-block position-absolute text-dark"
            href=""
        >
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <img
            class="w-100 d-inline-block"
            src="img/product/sleeve.png"
            alt="product image"
        />
    </div>
    <div class="card-body ps-0">
        <p class=" product-title mb-0 ">t-shirt summer vibes</p>
        <div class=" d-flex align-items-center">
            <p class="text-danger text-mid mb-0">$89.99</p>
            <p class="text-muted text-mid mb-0 ms-4">$119.99</p>
        </div> 
    </div>
</div>
